<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 引入css和js文件 -->
<link href="__COMMON__/Ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__COMMON__/Ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/Ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__COMMON__/Ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="__COMMON__/Ueditor/lang/zh-cn/zh-cn.js"></script>

<!-- 设置富文本编辑器的容器 -->
<textarea id="content"></textarea>

<!-- 实例化富文本编辑器 -->
<script type="text/javascript">
var um = UM.getEditor('content',{
	initialFrameWidth:500,   //初始化编辑器宽度,默认500
    initialFrameHeight:300,  //初始化编辑器高度,默认500
    isShow : true,     //默认不显示富文本编辑器
    toolbar:[
             'source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
             'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
             '| justifyleft justifycenter justifyright justifyjustify |',
             'link unlink | emotion image video  | map',
             '| horizontal print preview fullscreen', 'drafts', 'formula'
         ],
    initialContent:'欢迎使用'
});
</script>
</body>
</html>