<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/base.css" />
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/info-reg.css" />
        <title>移动办公自动化系统</title>
    </head>

    <body>
        <div class="title"><h2>信息登记</h2></div>
        <form action="{:U('/dept/editDeptOk')}" method="post">
            <input type="hidden" name="dept_id" value="{$dept_info.dept_id}">
            <div class="main">
                <p class="short-input ue-clear">
                    <label>部门名称：</label>
                    <input type="text" name="dept_name" placeholder="{$dept_info.dept_name}"  value="{$dept_info.dept_name}"/>
                </p>
                <div class="short-input select ue-clear">
                    <label>上级部门：</label>
                    <div class="select-wrap">
                        <select name="dept_pid">
                            <option value="0">顶级部门</option>
                            <foreach name="dept_list" item="vo">
                                <if condition="$dept_info.dept_pid eq $vo.dept_id ">
                                <option value="{$vo.dept_id}" selected>{$vo.dept_name}</option>
                                <else />
                                <option value="{$vo.dept_id}">{$vo.dept_name}</option>
                                </if>
                            </foreach>
                        </select>
                    </div>
                </div>
                <p class="short-input ue-clear">
                    <label>备注：</label>
                    <textarea placeholder="请输入内容" name="dept_desc"></textarea>
                </p>
            </div>
            <div class="btn ue-clear">
                <a href="javascript:;" class="confirm">确定</a>
                <a href="javascript:;" class="clear">清空内容</a>
            </div>    
        </form>
    </body>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/WdatePicker.js"></script>
    <script type="text/javascript">
        //1.获取确定a标签的对象
        $('.confirm').click(function () {
            //2.获取表单对象
            $('form').submit();
        })
        $(".select-title").on("click", function () {
            $(".select-list").toggle();
            return false;
        });
        $(".select-list").on("click", "li", function () {
            var txt = $(this).text();
            $(".select-title").find("span").text(txt);
        });


        showRemind('input[type=text], textarea', 'placeholder');
    </script>
</html>
